# Logs
logs
.pnpm-debug.log*

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# generate output
dist

# vitepress build output
docs/.vitepress/cache
.vitepress/cache

# vscode
.vscode/*
!.vscode/settings.json
